<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>Login</title>
    </head>
    <body>
        <h1>Se connecter</h1>
        <form method="post" action="/login">
            <label for="name">
                <p class="formInput">Nom</p>
                <input type="text" name="name" placeholder="username"/>
            </label>
            <br>
            <label for="password">
                <p class="formInput">Mot de passe</p>
                <input type="password" name="password" placeholder="password"/>
            </label>
            <br>
            <input type="submit" value="Login"/>
            <br>
            <a href="/signin">Je n'ai pas de compte</a>
        </form>
    </body>
</html>