<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <title>S'enregistrer</title>
    </head>
    <body>
        <h1>S'enregistrer</h1>
        <form method="post" action="/signin">
            <label for="name">
                <p class="formInput">Nom</p>
                <input type="text" name="name" placeholder="username"/>
            </label>
            <br>
            <label for="password">
                <p class="formInput">Mot de passe</p>
                <input type="password" name="password" placeholder="password"/>
            </label>
            <br>
            <input type="submit" value="Sign in"/>
            <br>
            <a href="/login">J'ai déjà un compte</a>
        </form>
    </body>
</html>